<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ambil Kendali Masa Depanmu</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
    <h1 class="title">Ambil Kendali <br> Masa Depanmu</h1>
    <p class="description">
        Kampus Merdeka adalah cara terbaik berkuliah. Dapatkan kemerdekaan untuk <br> membentuk masa depan yang sesuai dengan aspirasi kariermu.
    </p>
    <h1 class="reg-ttl">Applicant Registration</h1>
    <p class="reg-dsc"><a href="/register">Click here to register</a></p>
</div>
</body>
</html>
